button.btn,.screen-only {
  display: none !important;
}

a[href]:after {
  content: "";
}

.break-after {
  page-break-after: always;
  margin-bottom: 0;
}

.avoid-break-inside {
  page-break-inside: avoid;
}

.header {
  margin-left: 350px !important;
  margin-top: 250px !important;
  horizontal-align: middle !important;
}

#testrun-title {
  display: block;
  font-size: 60px !important;
}

#testrun-date {
  display: block;
}

#testrun-version {
  display: block;
}
