.content-block {
  margin: 1em;
}

.panel-body,ul {
  padding-left: 1.5em;
}

.form-element {
  margin-bottom: 7px;
}

a {
  text-decoration:none !important;
}

li {
  margin-bottom: 3px;
}

img#logo {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 2em;
    image-rendering:optimizeQuality;
}

h1 {
  margin-bottom: 50px;
}

.inline {
  display: inline;
}
