{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ app }} - Test Secretary{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery.sortable.js' %}"></script>
  <script src="{% static 'js/sort_testcases.js' %}"></script>
{% endblock %}

{% block main %}
  <div class="header">
    <h1 class="inline">{{ app }}</h1>
    <span class="inline" style="font-size:15px;vertical-align:middle;">
      {% if active %}
        (<a href="{% url 'app_overview' app.pk 'all' %}">Show deactivated</a>)
      {% else %}
        (<a href="{% url 'app_overview' app.pk %}">Hide deactivated</a>)
      {% endif %}
    </span>
  </div>

  {% for section in app.active_sections %}
    <h3>{{ section.name }}</h3>
    {% if section.active_testcases.count %}
      <table class="table table-bordered table-striped">
        <thead>
          <th>#</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Action" %}</th>
          <th>{% trans "Expected" %}</th>
        </thead>
        <tbody class="sortable">
          {% if active %}
            {% for testcase in section.active_testcases %}
              <tr>
                <td>{{ testcase.order }}</td>
                <td>{{ testcase.name }}</td>
                <td>{{ testcase.description|default:"-"|linebreaksbr }}</td>
                <td>{{ testcase.action|default:"-"|linebreaksbr }}</td>
                <td>{{ testcase.expected|default:"-"|linebreaksbr }}</td>
              </tr>
            {% endfor %}
          {% else %}
            {% for testcase in section.testcase_set.all %}
              <tr class="{% if not testcase.active %} text-muted{% endif %}">
                <td>{{ testcase.order }}</td>
                <td>{{ testcase.name }}</td>
                <td>{{ testcase.description|default:"-"|linebreaksbr }}</td>
                <td>{{ testcase.action|default:"-"|linebreaksbr }}</td>
                <td>{{ testcase.expected|default:"-"|linebreaksbr }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-info">
        No testcases in this sections
      </div>
    {% endif %}
  {% empty %}
    <div class="alert alert-info">
      No sections in this app
    </div>
  {% endfor %}

  <a href="{% url 'overview' %}" class="btn btn-info">Overview</a>
{% endblock %}
