{% extends "base.html" %}

{% load i18n %}

{% block title %}Append TestCases - Test Secretary{% endblock %}

{% block main %}
  <h1>Append TestCases</h1>

  {% if errmsg %}
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> {{ errmsg }}
    </div>
  {% endif %}
  {% if warnmsg %}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Warning!</strong> {{ errmsg }}
    </div>
  {% endif %}

  <form method='POST' action='{% url "append_testcases" testrun.pk %}' class='form-element'>
    {% csrf_token %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% trans "TestRun Information" %}
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <span><strong>Name: </strong>{{ testrun.name }}</span>
        </p>
        <p>
          <span><strong>Comment: </strong>{{ testrun.comment }}</span>
        </p>
        <p>
          <span><strong>Version: </strong>{{ testrun.version }}</span>
        </p>
      </div>
    </div>

    {% include 'test_secretary/testcase_panels.html' %}

    <input type='submit' class="btn btn-primary" value='{% trans "Save TestRun" %}'/>
  </form>

  <a href="{% url 'overview' %}" class="btn btn-info">Overview</a>

{% endblock %}
