{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block main %}
  {% if saved %}
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {% trans "TestCaseRun saved" %}
    </div>
  {% endif %}

  {% if testcaserun_form.errors %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ testcaserun_form.errors }}
    </div>
  {% endif %}

  <h2>{{ testcaserun.testrun }}</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>{{ testcaserun.testcase }}</strong>
      <a href="{{ testcaserun.testcase.get_admin_url }}">
        <span class="label label-primary" style="vertical-align:top;">Edit</span>
      </a>
    </div>

    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>{% trans 'Description' %}</dt>
        <dd>{{ testcaserun.testcase.description|linebreaksbr|default:'-' }}</dd>
        <dt>{% trans 'Action' %}</dt>
        <dd>{{ testcaserun.testcase.action|linebreaksbr|default:'-' }}</dd>
        <dt>{% trans 'Expected' %}</dt>
        <dd>{{ testcaserun.testcase.expected|linebreaksbr|default:'-' }}</dd>
      </dl>
    </div>
  </div>

  <form role="form" method=POST action="">
    {% csrf_token %}
    {{ testcaserun_form }}
    <input type="submit" value="Save" class="btn btn-success form-element"></input>
    {% block form_buttons_bottom %}{% endblock %}
  </form>

  {% block bottom %}
    <a href="{% url 'testrun_overview' testcaserun.testrun.pk %}" class="btn btn-info">TestRun</a>
  {% endblock %}
{% endblock %}
