{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block main %}
  <h2>{{ testcaserun.testrun }}</h2>
  <h3>{{ testcaserun.testcase }}</h3>

  {% if saved %}
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {% trans "TestCaseRun saved" %}
    </div>
  {% endif %}

  {% if testcaserun_form.errors %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ testcaserun_form.errors }}
    </div>
  {% endif %}

  <form role="form" method=POST action="{% url 'edit_testcaserun' testcaserun.pk %}">
    {% csrf_token %}
    {{ testcaserun_form }}
    <input type="submit" value="Save" class="btn btn-primary form-element"></input>
  </form>
  <a href="{% url 'testrun_overview' testcaserun.testrun.pk %}" class="btn btn-info">TestRun</a>
{% endblock %}
