{% extends "base.html" %}

{% load i18n %}

{% block title %}New TestRun - Test Secretary{% endblock %}

{% block scripts %}
  <script>
    function set_testcases(cls, state) {
      $('input.'+cls).prop("checked", state);
    }
  </script>
{% endblock %}

{% block main %}
  <h1>New TestRun</h1>

  {% if errmsg %}
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> {{ errmsg }}
    </div>
  {% endif %}
  {% if warnmsg %}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Warning!</strong> {{ errmsg }}
    </div>
  {% endif %}

  <form method='POST' action='{% url "new_testrun" %}' class='form-element'>
    {% csrf_token %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% trans "TestRun Information" %}
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <input name='name' placeholder="Name"></input>
        </p>
        <p>
          <input name='comment' placeholder="Comment"></input>
        </p>
        <p>
          <input name='version' size="40" placeholder="Version"></input>
        </p>
      </div>
    </div>

    {% for app in apps %}
      <div class="panel panel-default" id="appPanel{{ app.pk }}">

        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#appPanelBody{{ app.pk }}" href="#collapseApp{{ app.pk }}">
            <h3 class="panel-title">
              <small><span class="glyphicon glyphicon-chevron-down"></span></small>
              {{ app.name }}
            </h3>
          </a>
        </div>

        <div id="collapseApp{{ app.pk }}" class="panel-collapse collapse out">
          <div class="panel-body" id="appPanelBody{{ app.pk }}">
            {% for section in app.active_sections %}
              <div class="panel panel-default" id='sectionPanel{{ section.pk }}'>
                <a data-toggle="collapse" data-parent="#sectionPanelBody{{ section.pk }}" href="#collapseSection{{ section.pk }}">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <small><span class="glyphicon glyphicon-chevron-down"></span></small>
                      {{ section.name }}
                    </h3>
                  </div>
                </a>
                <div id="collapseSection{{ section.pk }}" class="panel-collapse collapse out">
                  <div class="panel-body" id="sectionPanelBody{{ section.pk }}">
                    <div id="sectionblock{{ section.pk }}">
                      {% for testcase in section.active_testcases %}
                        <p title='{{ testcase.description }}'>
                          <input type=checkbox id='testcase{{ testcase.pk }}' name='testcase{{ testcase.pk }}' value='1' class="app{{ app.pk }} section{{ section.pk }}"></input>
                          <label for='testcase{{ testcase.pk }}'>{{ testcase.name }}</label>
                        </p>
                      {% empty %}
                        <div class="alert alert-info">
                          No testcases in section
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  Select
                  <a href='#toggle_section{{ section.pk }}' onClick="set_testcases('section{{ section.pk }}', true);">all</a>
                  /
                  <a href='#toggle_section{{ section.pk }}' onClick="set_testcases('section{{ section.pk }}', false);">none</a>
                </div>
              </div>
            {% empty %}
              <div class="alert alert-info">
                No sections in application
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="panel-footer">
          Select
          <a href='#toggle_app{{ app.pk }}' onClick="set_testcases('app{{ app.pk }}', true);">all</a>
          /
          <a href='#toggle_app{{ app.pk }}' onClick="set_testcases('app{{ app.pk }}', false);">none</a>
        </div>

      </div>
    {% endfor %}
    <input type='submit' class="btn btn-primary" value='{% trans "Create TestRun" %}'/>
  </form>

  <a href="{% url 'overview' %}" class="btn btn-info">Overview</a>

{% endblock %}
