{% extends "base.html" %}

{% load i18n %}

{% block scripts %}
  <script>
    function set_testcases(cls, state) {
      $('input.'+cls).prop("checked", state);
    }
  </script>
{% endblock %}

{% block main %}
  <h1>New TestRun</h1>

  {% if errmsg %}
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> {{ errmsg }}
    </div>
  {% endif %}
  {% if warnmsg %}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Warning!</strong> {{ errmsg }}
    </div>
  {% endif %}

  <form method='POST' action=''>
    {% csrf_token %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "TestRun information" %}</h3>
      </div>
      <div class="panel-body">
        <p>
          <input name='name' placeholder="Name"></input>
        </p>
        <p>
          <input name='comment' placeholder="Comment"></input>
        </p>
        <p>
          <input name='version' placeholder="Version"></input>
        </p>
      </div>
    </div>

    {% for app in apps %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">{{ app.name }}</h3>
        </div>

        <div class="panel-body">
          {% for section in app.active_sections %}
            <div class="panel panel-default">
              <div class="panel-heading">
                {{ section.name }}
              </div>
              <div class="panel-body">
                <div id='sectionblock{{ section.pk }}'>
                  {% for testcase in section.active_testcases %}
                    <p title='{{ testcase.description }}'>
                      <input type=checkbox id='testcase{{ testcase.pk }}' name='testcase{{ testcase.pk }}' value='1' class="app{{ app.pk }} section{{ section.pk }}"></input>
                      <label for='testcase{{ testcase.pk }}'>{{ testcase.name }}</label>
                    </p>
                  {% empty %}
                    <div class="alert alert-info">
                      No testcases in section
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="panel-footer">
                Select
                <a href='#toggle_section{{ section.pk }}' onClick="set_testcases('section{{ section.pk }}', true);">all</a>
                /
                <a href='#toggle_section{{ section.pk }}' onClick="set_testcases('section{{ section.pk }}', false);">none</a>
              </div>
            </div>
          {% empty %}
            <div class="alert alert-info">
              No sections in application
            </div>
          {% endfor %}
        </div>

        <div class="panel-footer">
          Select
          <a href='#toggle_app{{ app.pk }}' onClick="set_testcases('app{{ app.pk }}', true);">all</a>
          /
          <a href='#toggle_app{{ app.pk }}' onClick="set_testcases('app{{ app.pk }}', false);">none</a>
        </div>

      </div>
    {% endfor %}
    <input type='submit' class="btn btn-primary" value='{% trans "Create TestRun" %}'/>
  </form>
{% endblock %}
