{% extends "base.html" %}

{% load i18n %}

{% block main %}

  <h1>Overview</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Applications</h3>
    </div>
    <div class="panel-body">
     <ul>
       {% for app in apps %}
          <li><a href="{% url 'app_overview' app.pk %}">{{ app.name }}</a></li>
        {% empty %}
            <div class="alert alert-info">No apps</div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Test Runs</h3>
    </div>
    <div class="panel-body">
      <ul>
        {% for testrun in testruns %}
          <li>
            <a href="{% url "testrun_overview" testrun.pk %}">{{ testrun }}</a>
            {% if testrun.is_finished %}
              {% if testrun.is_success %}
                <span class="label label-success">success</span>
              {% else %}
                <span class="label label-danger">failed</span>
              {% endif %}
            {% else %}
              <span class="label label-info">in progress</span>
            {% endif %}
          </li>
        {% empty %}
            <div class="alert alert-info">No testruns</div>
        {% endfor %}
      </ul>
      <p>
          <a class="btn btn-primary" style="margin: 5px" href={% url "new_testrun" %}>
          {% trans "New TestRun" %}
          </a>
      </p>
    </div>
  </div>
{% endblock %}
