{% extends "base.html" %}

{% load i18n %}

{% block main %}

  <h1>Overview</h1>

  {% if not user.is_authenticated %}
    <div class="alert alert-info">
      Please login to use TestSecretary
    </div>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Applications</h3>
    </div>
    <div class="panel-body">
     <ul>
       {% for app in apps %}
          <li><a href="{% url 'app_overview' app.pk %}">{{ app.name }}</a></li>
        {% empty %}
            <div class="alert alert-info">No apps</div>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% if perms.test_secretary.view_testruns %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Test Runs</h3>
      </div>
      <div class="panel-body">
        <h4>My Testruns</h4>
        <ul>
          {% for testrun_own in testruns.own %}
            <li>
              <a href="{% url "testrun_overview" testrun_own.pk %}">{{ testrun_own }}</a>
              {% if testrun_own.is_finished %}
                {% if testrun_own.is_success %}
                  <span class="label label-success" title="{% trans 'Tests:' %} {{ testrun_own.success_count }}">success</span>
                {% else %}
                  <span class="label label-danger">failed</span>
                {% endif %}
              {% else %}
                <span class="label label-info" title="{% trans 'Open:' %} {{ testrun_own.todo_count }}&#013;{% trans 'Success:' %} {{ testrun_own.success_count }}&#013;{% trans 'Failed:' %} {{ testrun_own.failed_count }}&#013;{% trans 'Decision needed:' %} {{ testrun_own.decision_count }}">
                  in progress
                </span>
              {% endif %}
            </li>
          {% empty %}
            <div class="alert alert-info">No own testruns</div>
          {% endfor %}
        </ul>
        {% if perms.test_secretary.view_other_testruns %}
          <h4>Other Testruns</h4>
          <ul>
            {% for testrun_other in testruns.other %}
              <li>
                <a href="{% url "testrun_overview" testrun_other.pk %}">{{ testrun_other }}</a>
                {% if perms.test_secretary.view_testcaserun_status %}
                  {% if testrun_other.is_finished %}
                    {% if testrun_other.is_success %}
                      <span class="label label-success" title="{% trans 'Tests:' %} {{ testrun_other.success_count }}">success</span>
                    {% else %}
                      <span class="label label-danger">failed</span>
                    {% endif %}
                  {% else %}
                    <span class="label label-info" title="{% trans 'Open:' %} {{ testrun_other.todo_count }}&#013;{% trans 'Success:' %} {{ testrun_other.success_count }}&#013;{% trans 'Failed:' %} {{ testrun_other.failed_count }}&#013;{% trans 'Decision needed:' %} {{ testrun_other.decision_count }}">
                      in progress
                    </span>
                  {% endif %}
                {% endif %}
              </li>
            {% empty %}
                <div class="alert alert-info">No other testruns</div>
            {% endfor %}
          </ul>
        {% endif %}
        {% if perms.test_secretary.add_testrun %}
          <p>
            <a class="btn btn-primary" style="margin: 5px" href={% url "new_testrun" %}>
              {% trans "New TestRun" %}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
