{% extends "base.html" %}

{% block main %}

  <h1>Overview</h1>

  <h2>Applications</h2>
  <ul>
    {% for app in apps %}
      <li><a href="{% url 'app_overview' app.pk %}">{{ app.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>Test Runs</h2>
  <ul>
    {% for testrun in testruns %}
      <li><a href="{% url "testrun_overview" testrun.pk %}">{{ testrun }}</a>{% if testrun.is_finished %} ({% if testrun.is_success %}success{% else %}failed{% endif %}){% endif %}</li>
    {% endfor %}
  </ul>

{% endblock %}
