{% extends "base.html" %}

{% load i18n %}

{% block main %}
  <h1 style="display: inline;">
    {{ testrun }}
  </h1>
  {% if not testrun.is_finished %}
    <a href="{% url 'edit_testcaserun_multiple' testrun.pk 0 %}">
      <span class="label label-primary" style="vertical-align:top;">Run Test</span>
    </a>
    <a href="{{ testrun.get_admin_url }}" target="_blank">
      <span class="label label-primary" style="vertical-align:top;">Edit</span>
    </a>
  {% endif %}

  {% include "test_secretary/testcaserun_table.html" %}

  <a href="{% url 'overview' %}" class="btn btn-info">Overview</a>

{% endblock %}
