{% load i18n %}

{% regroup testcaseruns by testcase.section.app as testcaseruns_group_app %}

{% for testcaserun_app in testcaseruns_group_app %}
  <h2>{{ testcaserun_app.grouper }}</h2>
  {% regroup testcaserun_app.list by testcase.section as testcaseruns_group_section %}
  {% for testcaserun_section in testcaseruns_group_section %}
    <h3>{{ testcaserun_section.grouper.name }}</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>{% trans "Testcase" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Preconditions" %}</th>
          <th>{% trans "Action" %}</th>
          <th>{% trans "Expected" %}</th>
          <!--<th>{% trans "Tester comment" %}</th>-->
          <th>{% trans "Status" %}</th>
        </tr>
      </thead>
      <!--<tfoot>
        <tr>
          <td>no footer yet</td>
          <td>tbd</td>
        </tr>
      </tfoot>-->
      <tbody>
        {% for testcaserun in testcaserun_section.list %}
          <tr>
            <td style="width: 3em;">{{ testcaserun.testcase.number }}</td>
            <td style="width: 15%">{{ testcaserun.testcase.name }}</td>
            <td>{{ testcaserun.testcase.description|default:""|linebreaksbr }}</td>
            <td style="width: 15%">
              {% if testcaserun.testcase.preconditions.count %}
                <ul>
                  {% for precondition in testcaserun.testcase.preconditions.all %}
                    <li><a href"#{{ precondition.pk }}">{{ precondition.name }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </td>
            <td style="width: 15%">{{ testcaserun.testcase.action|default:""|linebreaksbr }}</td>
            <td style="width: 15%">{{ testcaserun.testcase.expected|default:""|linebreaksbr }}</td>
            <!--<td style="width: 10%">{{
                testcaserun.comment|default:""|linebreaksbr }}</td>-->
            <td style="width: 6em;" title="{{ testcaserun.comment|default:"" }}">
              <a href="{% url 'edit_testcaserun_single' testcaserun.pk %}">
                {% if testcaserun.status == 'OK' %}
                  <span class="label label-success">{{ testcaserun.get_status_display }}</span>
                {% elif testcaserun.status == 'NOK' %}
                  <span class="label label-danger">{{ testcaserun.get_status_display }}</span>
                {% elif testcaserun.status == 'NT' %}
                  <span class="label label-default">{{ testcaserun.get_status_display }}</span>
                {% elif testcaserun.status == 'DN' %}
                  <span class="label label-info">{{ testcaserun.get_status_display }}</span>
                {% endif %}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endfor %}
