{% extends "base.html" %}

{% load i18n %}

{% block main %}
  <div class="header">
    <h1 class="testrun-title inline">
      {{ testrun.name }}
    </h1>
    {% if not testrun.is_finished %}
      <a href="{% url 'edit_testcaserun_multiple' testrun.pk 0 %}">
        <button class="btn btn-primary btn-xs" style="vertical-align:top;">Run Test</button>
      </a>
      <a href="{{ testrun.get_admin_url }}" target="_blank">
        <button class="btn btn-primary btn-xs" style="vertical-align:top;">Edit</button>
      </a>
    {% endif %}
    <p>
      <span id="testrun-date">{{ testrun.date }}</span>
      <span id="testrun-version">{{ testrun.version }}</span>
    </p>
  </div>
  {% include "test_secretary/testcaserun_table.html" %}

  <a href="{% url 'overview' %}" class="btn btn-info screen-only">Overview</a>

{% endblock %}
