{% load i18n %}
{% load iterator %}

{% include 'test_secretary/testcaserun_table.js' %}

{% regroup testcaseruns by testcase.section.app as testcaseruns_group_app %}

{% for testcaserun_app in testcaseruns_group_app %}
  <div class="break-after avoid-break-inside">
    <h2>
      {{ testcaserun_app.grouper.order|default:'#' }}.
      {{ testcaserun_app.grouper.name }}
    </h2>
    {% regroup testcaserun_app.list by testcase.section as testcaseruns_group_section %}
    {% for testcaserun_section in testcaseruns_group_section %}
      <h3>
        {{ testcaserun_app.grouper.order|default:'#' }}.{{ testcaserun_section.grouper.order|default:'#' }}
        {{ testcaserun_section.grouper.name }}
      </h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans "Testcase" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Preconditions" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Expected" %}</th>
            {% if perms.test_secretary.view_testcaserun_status or testcase.user == user %}
              <th>{% trans "Status" %}</th>
            {% endif %}
          </tr>
        </thead>
        <!--<tfoot>
          <tr>
            <td>no footer yet</td>
            <td>tbd</td>
          </tr>
        </tfoot>-->
        <tbody>
          {% for testcaserun in testcaserun_section.list %}
            <tr{% if not testcaserun.testcase.active %} class="text-muted"{% endif %}>
              <td style="width: 3em;">{{ testcaserun.testcase.order|default:'#' }}</td>
              <td style="width: 15%">{{ testcaserun.testcase.name }}</td>
              <td>{{ testcaserun.testcase.description|default:""|linebreaksbr }}</td>
              <td style="width: 15%">
                {% if testcaserun.testcase.preconditions.count %}
                  <ul>
                    {% for precondition in testcaserun.testcase.preconditions.all %}
                      <li><a href"#{{ precondition.pk }}">{{ precondition.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </td>
              <td style="width: 15%">{{ testcaserun.testcase.action|default:""|linebreaksbr }}</td>
              <td style="width: 15%">{{ testcaserun.testcase.expected|default:""|linebreaksbr }}</td>
              {% if perms.test_secretary.view_testcaserun_status or testcase.user == user %}
                <td id="status{{ testcaserun.pk }}" style="width: 6em;" title="{{ testcaserun.comment|default:'' }}">
                  {% if testcaserun.status == 'OK' %}
                    <a href="{% url 'edit_testcaserun_multiple' testrun.pk counter|next %}">
                      <span class="label label-success">
                        {{ testcaserun.get_status_display }}
                      </span>
                    </a>
                    {# XXX #}
                    <button type="button" href="{% url 'set_testcaserun_status' testcaserun.pk 'NT' %}" class="btn btn-default btn-xs shown" onclick="set_testcaserun_status({{ testcaserun.pk }}, 'NT')" style="margin-top: 0.5em;">
                      Set untested
                    </button>
                    <button type="button" href="{% url 'set_testcaserun_status' testcaserun.pk 'OK' %}" class="btn btn-default btn-xs hidden" onclick="set_testcaserun_status({{ testcaserun.pk }}, 'OK')" style="margin-top: 0.5em;">
                      Set success
                    </button>
                  {% elif testcaserun.status == 'NOK' %}
                    <a href="{% url 'edit_testcaserun_multiple' testrun.pk counter|next %}">
                      <span class="label label-danger">
                        {{ testcaserun.get_status_display }}
                      </span>
                    </a>
                  {% elif testcaserun.status == 'NT' %}
                    <a href="{% url 'edit_testcaserun_multiple' testrun.pk counter|next %}">
                      <span class="label label-default">
                        {{ testcaserun.get_status_display }}
                      </span>
                    </a>
                    {# XXX #}
                    <button type="button" href="{% url 'set_testcaserun_status' testcaserun.pk 'OK' %}" class="btn btn-default btn-xs shown" onclick="set_testcaserun_status({{ testcaserun.pk }}, 'OK')" style="margin-top: 0.5em;">
                      Set success
                    </button>
                    <button type="button" href="{% url 'set_testcaserun_status' testcaserun.pk 'NT' %}" class="btn btn-default btn-xs hidden" onclick="set_testcaserun_status({{ testcaserun.pk }}, 'NT')" style="margin-top: 0.5em;">
                      Set untested
                    </button>
                  {% elif testcaserun.status == 'DN' %}
                    <a href="{% url 'edit_testcaserun_multiple' testrun.pk counter|next %}">
                      <span class="label label-info">
                        {{ testcaserun.get_status_display }}
                      </span>
                    </a>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endfor %}
